<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/form.css" />
    <title>New Message</title>
  </head>

  <body>
    <main class="main">
      <div class="form-card card">
        <h1>Post a New Message</h1>
        <form class="flex form" method="POST" action="/new">
          <div class="flex">
            <label class="flex form__label" for="user"> Your Name </label>
            <input
              class="form__input"
              id="user"
              name="user"
              type="text"
              placeholder="Enter your name"
              value="<%= typeof message !== "undefined" ? message.user : "" %>"
            />
            <%- include("partials/errors.ejs", { field: "user"}) %>
          </div>
          <div class="flex">
            <label class="flex form__label" for="text"> Your Message </label>
            <textarea
              placeholder="What's on your mind?"
              class="form__input"
              id="text"
              name="text"
              rows="6"
            ><%= typeof message !== "undefined" ? message.text : "" %></textarea>
            <%- include("partials/errors.ejs", { field: "text"}) %>
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
