<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/form.css" />
    <title>New Message</title>
  </head>

  <body>
    <main class="main">
      <div class="form-card card">
        <h1>Post a New Message</h1>
        <form class="flex form" method="POST" action="/new">
          <label class="flex form__label" for="user">
            Your Name
            <input
              class="form__input"
              required
              id="user"
              name="user"
              type="text"
              placeholder="Enter your name"
            />
          </label>
          <label class="flex form__label" for="text">
            Your Message
            <textarea
              placeholder="What's on your mind?"
              class="form__input"
              required
              id="text"
              name="text"
              rows="6"
            ></textarea>
          </label>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>
