<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/index.css" />
    <title>Homepage</title>
  </head>

  <body>
    <header class="header">
      <div class="container container--header flex">
        <div class="flex header__heading">
          <p class="header__icon"><%- MessagesSquare %></p>
          <h1>Recent Messages</h1>
        </div>
        <a class="btn flex header__btn" href="/new">
          <p class="header__btn-icon"><%- Plus %></p>
          <p class="header__btn-text">New Message</p>
        </a>
      </div>
    </header>

    <main>
      <div class="container">
        <ul class="messages flex">
          <% messages.forEach(message => { %>
            <%- include('message-card', { message }) %>
          <% }) %>
        </ul>
      </div>
    </main>
  </body>
</html>
