<li>
  <a href="<%= message.id %>">
    <div class="card">
      <div class="card__header flex">
        <h2 class="card__title"><%= message.user %></h2>
        <p class="card__timestamp text--dark">Posted on <%= message.added %></p>
      </div>
      <p class="text--dark"><%= message.text %></p>
    </div>
  </a>
</li>
