main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.form-card {
  background-color: var(--form-card);
  border: 2px solid oklch(100% 0 270 / 0.08);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 48rem;
  width: 100%;
}

.form {
  flex-direction: column;
  gap: 1.5rem;
  align-items: unset;
}

.form__label {
  gap: 0.375rem;
  flex-direction: column;
  align-items: start;
}

.form__input {
  background-color: var(--form-field-bg);
  border: 1px solid oklch(100% 0 270 / 0.08);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: var(--text-dark);
  width: 100%;
}
