.header {
  margin-block: 2.5rem 1.5rem;
}

.container--header {
  justify-content: space-between;
}

.header__heading {
  gap: 1rem;
}

.header__icon {
  padding: 0.675rem;
  border-radius: 0.5rem;
  background-color: var(--cta-color);
}

.header__btn {
  gap: 1rem;
}
