.header {
  margin-block: 2.5rem 2rem;
}

.container--header {
  gap: 1rem;
  justify-content: space-between;
}

.header__heading {
  gap: 1rem;
}

.header__icon {
  min-width: 45px;
  height: 45px;
  padding: 0.675rem;
  border-radius: 0.5rem;
  background-color: var(--cta-color);
}

.header__btn {
  gap: 1rem;
  padding: 0.5rem;
  min-width: 40px;
}

.header__btn-text {
  display: none;
}

.messages {
  flex-direction: column;
  align-items: unset;
  gap: 1.5rem;
}

@media (width >= 40rem) {
  .header__btn {
    padding: 0.75rem 1.5rem;
  }

  .header__btn-text {
    display: block;
  }
}
