.header {
  padding-block: 1.25rem;
  border-bottom: 2px solid var(--card-color);
}

.header__link {
  color: var(--cta-color);
  cursor: pointer;
  justify-content: start;
  gap: 0.75rem;
  font-weight: bold;
}

.container--main {
  margin-block: 2rem;
}

.divider {
  margin: 2rem -2.25rem;
  border: none;
  height: 2px;
  background-color: var(--text-dark);
}
