:root {
  --background-color: #101922;
  --text-color: #e0e0e0;
  --text-dark: #a9a9a9;
  --cta-color: #4a90e2;
  --card-color: #1a242e;
  --form-card: #111825;
  --form-field-bg: #1f2937;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  --max-width: 40rem;

  margin-inline: auto;
  padding-inline: 1rem;
  max-width: var(--max-width);
}

.btn {
  background-color: var(--cta-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.btn:hover {
  opacity: 0.8;
}

.card {
  background-color: var(--card-color);
  padding: 2.25rem 2.25rem;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.card__header {
  justify-content: start;
  gap: 0.5rem;
}

.card__title {
  font-weight: bold;
}

.card__timestamp {
  font-size: 0.875rem;
}

.text--dark {
  color: var(--text-dark);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (width >= 48rem) {
  .container {
    --max-width: 48rem;
  }
}

@media (width >= 64rem) {
  .container {
    --max-width: 64rem;
  }
}

@media (width >= 80rem) {
  .container {
    --max-width: 80rem;
  }
}

@media (width >= 96rem) {
  .container {
    --max-width: 96rem;
  }
}
